# Rock Paper Scissors

## Part 1

The Elves begin to set up camp on the beach. To decide whose tent gets to be closest to the snack storage, a giant Rock Paper Scissors tournament is already in progress.

Rock Paper Scissors is a game between two players. Each game contains many rounds; in each round, the players each simultaneously choose one of Rock, Paper, or Scissors using a hand shape. Then, a winner for that round is selected: Rock defeats Scissors, Scissors defeats Paper, and Paper defeats Rock. If both players choose the same shape, the round instead ends in a draw.

Appreciative of your help yesterday, one Elf gives you an encrypted strategy guide (your puzzle input) that they say will be sure to help you win. "The first column is what your opponent is going to play: A for Rock, B for Paper, and C for Scissors. The second column--" Suddenly, the Elf is called away to help with someone's tent.

The second column, you reason, must be what you should play in response: X for Rock, Y for Paper, and Z for Scissors. Winning every time would be suspicious, so the responses must have been carefully chosen.

The winner of the whole tournament is the player with the highest score. Your total score is the sum of your scores for each round. The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

Since you can't be sure if the Elf is trying to help you or trick you, you should calculate the score you would get if you were to follow the strategy guide.

For example, suppose you were given the following strategy guide:

A Y
B X
C Z
This strategy guide predicts and recommends the following:

In the first round, your opponent will choose Rock (A), and you should choose Paper (Y). This ends in a win for you with a score of 8 (2 because you chose Paper + 6 because you won).
In the second round, your opponent will choose Paper (B), and you should choose Rock (X). This ends in a loss for you with a score of 1 (1 + 0).
The third round is a draw with both players choosing Scissors, giving you a score of 3 + 3 = 6.
In this example, if you were to follow the strategy guide, you would get a total score of 15 (8 + 1 + 6).

What would your total score be if everything goes exactly according to your strategy guide?

In [142]:
import pandas as pd
import numpy as np

In [191]:
with open('day_02_input.txt', 'r') as f:
    data = f.readlines()

In [192]:
key = pd.Series(data).str.strip().str.split('\s', expand=True)
key.head()

   0  1
0  C  Y
1  B  Z
2  B  Z
3  C  Y
4  B  Y

#### Key
- A = Rock
- B = Paper
- C = Scissors


- X = Rock
- Y = Paper
- Z = Scissors

In [193]:
games = pd.DataFrame()
games['them'] = key[0].map({'A':'rock', 'B':'paper', 'C':'scissors'})
games['you'] = key[1].map({'X':'rock', 'Y':'paper', 'Z':'scissors'})
games.head()

       them       you
0  scissors     paper
1     paper  scissors
2     paper  scissors
3  scissors     paper
4     paper     paper

In [194]:
subset_rock = games [games.them == 'rock'].copy()

subset_rock['result'] = np.where(subset_rock.you == 'rock', 'draw', 
         np.where(subset_rock.you == 'paper', 'win', 'lose'))

subset_rock.head()

    them    you result
16  rock  paper    win
23  rock   rock   draw
32  rock   rock   draw
43  rock  paper    win
44  rock   rock   draw

In [195]:
subset_paper = games [games.them == 'paper'].copy()

subset_paper['result'] = np.where(subset_paper.you == 'paper', 'draw', 
         np.where(subset_paper.you == 'scissors', 'win', 'lose'))

subset_paper.head()

     them       you result
1   paper  scissors    win
2   paper  scissors    win
4   paper     paper   draw
8   paper  scissors    win
15  paper  scissors    win

In [196]:
subset_scissors = games [games.them == 'scissors'].copy()

subset_scissors['result'] = np.where(subset_scissors.you == 'scissors', 'draw', 
         np.where(subset_scissors.you == 'rock', 'win', 'lose'))

subset_scissors.head()

       them       you result
0  scissors     paper   lose
3  scissors     paper   lose
5  scissors  scissors   draw
6  scissors  scissors   draw
7  scissors     paper   lose

In [197]:
games = pd.concat([subset_rock, subset_paper, subset_scissors])
games

          them       you result
16        rock     paper    win
23        rock      rock   draw
32        rock      rock   draw
43        rock     paper    win
44        rock      rock   draw
...        ...       ...    ...
2493  scissors     paper   lose
2494  scissors  scissors   draw
2495  scissors     paper   lose
2496  scissors  scissors   draw
2499  scissors     paper   lose

[2500 rows x 3 columns]

In [198]:
games['you_score'] = games.you.map({'rock':1, 'paper':2,'scissors':3})
games['result_scores'] = games.result.map({'lose':0,'draw':3,'win':6})
games

          them       you result  you_score  result_scores
16        rock     paper    win          2              6
23        rock      rock   draw          1              3
32        rock      rock   draw          1              3
43        rock     paper    win          2              6
44        rock      rock   draw          1              3
...        ...       ...    ...        ...            ...
2493  scissors     paper   lose          2              0
2494  scissors  scissors   draw          3              3
2495  scissors     paper   lose          2              0
2496  scissors  scissors   draw          3              3
2499  scissors     paper   lose          2              0

[2500 rows x 5 columns]

In [199]:
games.you_score.sum() + games.result_scores.sum()

13268

## Part 2

The Elf finishes helping with the tent and sneaks back over to you. "Anyway, the second column says how the round needs to end: X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win. Good luck!"

The total score is still calculated in the same way, but now you need to figure out what shape to choose so the round ends as indicated. The example above now goes like this:

In the first round, your opponent will choose Rock (A), and you need the round to end in a draw (Y), so you also choose Rock. This gives you a score of 1 + 3 = 4.
In the second round, your opponent will choose Paper (B), and you choose Rock so you lose (X) with a score of 1 + 0 = 1.
In the third round, you will defeat your opponent's Scissors with Rock for a score of 1 + 6 = 7.
Now that you're correctly decrypting the ultra top secret strategy guide, you would get a total score of 12.

Following the Elf's instructions for the second column, what would your total score be if everything goes exactly according to your strategy guide?

#### Key

- X = lose
- Y = draw
- Z = win

In [200]:
key.head()

   0  1
0  C  Y
1  B  Z
2  B  Z
3  C  Y
4  B  Y

In [207]:
games = pd.DataFrame()
games['them'] = key[0].map({'A':'rock', 'B':'paper', 'C':'scissors'})
games['result'] = key[1].map({'X':'lose', 'Y':'draw', 'Z':'win'})
games.head()

       them result
0  scissors   draw
1     paper    win
2     paper    win
3  scissors   draw
4     paper   draw

In [208]:
subset_rock = games [games.them == 'rock'].copy()

subset_rock['you'] = np.where(subset_rock.result == 'draw', 'rock', 
         np.where(subset_rock.result == 'win', 'paper', 'scissors'))

subset_rock.head()

    them result       you
16  rock   draw      rock
23  rock   lose  scissors
32  rock   lose  scissors
43  rock   draw      rock
44  rock   lose  scissors

In [209]:
subset_paper = games [games.them == 'paper'].copy()

subset_paper['you'] = np.where(subset_paper.result == 'draw', 'paper', 
         np.where(subset_paper.result == 'win', 'scissors', 'rock'))

subset_paper.head()

     them result       you
1   paper    win  scissors
2   paper    win  scissors
4   paper   draw     paper
8   paper    win  scissors
15  paper    win  scissors

In [210]:
subset_scissors = games [games.them == 'scissors'].copy()

subset_scissors['you'] = np.where(subset_scissors.result == 'draw', 'scissors', 
         np.where(subset_scissors.result == 'win', 'rock', 'paper'))

subset_scissors.head()

       them result       you
0  scissors   draw  scissors
3  scissors   draw  scissors
5  scissors    win      rock
6  scissors    win      rock
7  scissors   draw  scissors

In [211]:
games = pd.concat([subset_rock, subset_paper, subset_scissors])
games

          them result       you
16        rock   draw      rock
23        rock   lose  scissors
32        rock   lose  scissors
43        rock   draw      rock
44        rock   lose  scissors
...        ...    ...       ...
2493  scissors   draw  scissors
2494  scissors    win      rock
2495  scissors   draw  scissors
2496  scissors    win      rock
2499  scissors   draw  scissors

[2500 rows x 3 columns]

In [212]:
games['you_score'] = games.you.map({'rock':1, 'paper':2,'scissors':3})
games['result_scores'] = games.result.map({'lose':0,'draw':3,'win':6})
games

          them result       you  you_score  result_scores
16        rock   draw      rock          1              3
23        rock   lose  scissors          3              0
32        rock   lose  scissors          3              0
43        rock   draw      rock          1              3
44        rock   lose  scissors          3              0
...        ...    ...       ...        ...            ...
2493  scissors   draw  scissors          3              3
2494  scissors    win      rock          1              6
2495  scissors   draw  scissors          3              3
2496  scissors    win      rock          1              6
2499  scissors   draw  scissors          3              3

[2500 rows x 5 columns]

In [214]:
games.you_score.sum() + games.result_scores.sum()

15508